body{
    text-align: center;
    margin: 0px;
}

.container{
    justify-content: center;
    text-align: center;
    margin: auto;
}

.square{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

button{
    margin: 5px;
}